@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(65, 27, 11);
}

button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid rgb(218, 217, 216);
    background-color: rgb(40, 82, 146);
    color: rgb(190, 192, 75);
    font-size: 28pt;
    font-weight: 800;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: rgb(189, 189, 182);
    font-size: 25pt;
}